*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
}
li{
	list-style: none;
}
.logo{
	width: 100%;
	text-align: center;
	margin: 20px 0;
}
.logo h4{
	font-size: 35px;
	letter-spacing: 2px;
	margin-top: 20px;
}
.nav{
	width: 100%;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.nav>ul{
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
.nav>ul>li{
	position: relative;
	margin: 0 20px;
}
.nav ul li a{
	color: #333;
	text-decoration: none;
}
.nav ul li a:hover{
	color: #ce8460;
}
.nav ul li ul{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #f2f2f2;
	padding: 10px;
	width: 200px;
}
.nav>ul>li:hover ul{
	display: block;
	text-decoration: none;
	font-weight: normal;
	width: 156px;
	cursor: pointer;
}
.wrap{
	width: 1180px;
	margin: 0 auto;
}
.banner{
	width: 1220px;
}





